<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zx.learn.dao.SysResourceMapper">
  <resultMap id="BaseResultMap" type="org.zx.learn.model.SysResource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="resource_type" jdbcType="CHAR" property="resourceType" />
    <result column="resource_name" jdbcType="VARCHAR" property="resourceName" />
    <result column="resource_path" jdbcType="VARCHAR" property="resourcePath" />
    <result column="resource_permission" jdbcType="VARCHAR" property="resourcePermission" />
    <result column="resource_priority" jdbcType="INTEGER" property="resourcePriority" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, resource_type, resource_name, resource_path, resource_permission, resource_priority, 
    parent_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_resource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.zx.learn.model.SysResource">
    insert into sys_resource (id, resource_type, resource_name, 
      resource_path, resource_permission, resource_priority, 
      parent_id)
    values (#{id,jdbcType=INTEGER}, #{resourceType,jdbcType=CHAR}, #{resourceName,jdbcType=VARCHAR}, 
      #{resourcePath,jdbcType=VARCHAR}, #{resourcePermission,jdbcType=VARCHAR}, #{resourcePriority,jdbcType=INTEGER}, 
      #{parentId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.zx.learn.model.SysResource">
    insert into sys_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="resourceType != null">
        resource_type,
      </if>
      <if test="resourceName != null">
        resource_name,
      </if>
      <if test="resourcePath != null">
        resource_path,
      </if>
      <if test="resourcePermission != null">
        resource_permission,
      </if>
      <if test="resourcePriority != null">
        resource_priority,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="resourceType != null">
        #{resourceType,jdbcType=CHAR},
      </if>
      <if test="resourceName != null">
        #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resourcePath != null">
        #{resourcePath,jdbcType=VARCHAR},
      </if>
      <if test="resourcePermission != null">
        #{resourcePermission,jdbcType=VARCHAR},
      </if>
      <if test="resourcePriority != null">
        #{resourcePriority,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.zx.learn.model.SysResource">
    update sys_resource
    <set>
      <if test="resourceType != null">
        resource_type = #{resourceType,jdbcType=CHAR},
      </if>
      <if test="resourceName != null">
        resource_name = #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resourcePath != null">
        resource_path = #{resourcePath,jdbcType=VARCHAR},
      </if>
      <if test="resourcePermission != null">
        resource_permission = #{resourcePermission,jdbcType=VARCHAR},
      </if>
      <if test="resourcePriority != null">
        resource_priority = #{resourcePriority,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zx.learn.model.SysResource">
    update sys_resource
    set resource_type = #{resourceType,jdbcType=CHAR},
      resource_name = #{resourceName,jdbcType=VARCHAR},
      resource_path = #{resourcePath,jdbcType=VARCHAR},
      resource_permission = #{resourcePermission,jdbcType=VARCHAR},
      resource_priority = #{resourcePriority,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="listAllMenu" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from sys_resource where resource_type ='menu' order by resource_priority ASC
  </select>

  <select id="listTopResource" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from sys_resource where parent_id is null order by resource_priority ASC
  </select>

  <select id="listResourceByParent" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select <include refid="Base_Column_List"/> from sys_resource where parent_id = #{0} order by resource_priority ASC
  </select>
</mapper>